/* your styles go here */
.modal-dialog {
  width: auto !important;
  max-width: 90% !important;
}

.box img {
  border: 5px solid #ddd;
  height: 208px;
}

.project-links {
  text-transform: uppercase;
  font-size: 20px;
}

.project-links a:hover {
  color: #94999c;
}
