/* your styles go here */

.modal-dialog {
  width: auto !important;
  max-width: 90% !important;
}

.box img {
  border: 3px solid #ddd;
  border-radius: 5px;
  height: 208px;
}

.project-links {
  text-transform: uppercase;
  font-size: 20px;
}

.project-links a:hover {
  color: #94999c;
}

.project-links a {
  text-decoration: underline
}